### 7월 2째주 Pandas 주말 과제 #3
  - 3_1) 신재생 에너지 항목 북한 추가
  - 3_2) '-' ==> 0 변환

  - 3_3) 2016년 열 옆에 항목별 합계 칼럼 추가 값은 함수나 for 구문으로 sum값

In [21]:
# 모듈 로딩
import pandas as pd
import numpy as np

In [22]:
# 데이터 로드
file_path = r'C:\Users\KDP-43\Desktop\KDT_Pandas\과제\남북한발전전력량.xlsx'
dataDF = pd.read_excel( file_path )

In [23]:
# DF 확인
dataDF

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,남한,합계,1077,1186,1310,1444,1650,1847,2055,2244,...,4031,4224,4336,4747,4969,5096,5171,5220,5281,5404
1,NaN,수력,64,51,49,60,41,55,52,54,...,50,56,56,65,78,77,84,78,58,66
2,NaN,화력,484,573,696,803,1022,1122,1264,1420,...,2551,2658,2802,3196,3343,3430,3581,3427,3402,3523
3,NaN,원자력,529,563,565,581,587,670,739,771,...,1429,1510,1478,1486,1547,1503,1388,1564,1648,1620
4,NaN,신재생,-,-,-,-,-,-,-,-,...,-,-,-,-,-,86,118,151,173,195
5,북한,합계,277,263,247,221,231,230,213,193,...,236,255,235,237,211,215,221,216,190,239
6,NaN,수력,156,150,142,133,138,142,125,107,...,133,141,125,134,132,135,139,130,100,128
7,NaN,화력,121,113,105,88,93,88,88,86,...,103,114,110,103,79,80,82,86,90,111
8,NaN,원자력,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [24]:
# 인덱스, 칼럼 확인
print(f'인덱스:  {dataDF.index}')
print("="*50)
print(f'컬럼:  {dataDF.columns}')

인덱스:  RangeIndex(start=0, stop=9, step=1)
==================================================
컬럼:  Index(['전력량 (억㎾h)', '발전 전력별', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

####   1) 신재생 에너지 항목 북한 추가

In [25]:
dataDF.loc[9] = '-'
dataDF.loc[9, "전력량 (억㎾h)"] = np.nan
print(dataDF)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -
9       NaN      -     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -
9     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

In [26]:
dataDF.loc[9, '발전 전력별'] = "신재생"
print(dataDF)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     -     -     -     -     -     -     -     -  ...     -
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     -     -     -     -     -     -     -     -  ...     -
9       NaN    신재생     -     -     -     -     -     -     -     -  ...     -

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     -     -     -     -    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     -     -     -     -     -     -     -     -     -
9     -     -     -     -     -     -     -     -     -

[10 rows x 29 columns]

####  2) '-' ==> 0 변환

In [27]:
for row in dataDF.index:
    for col in dataDF.columns:
        
        if dataDF.loc[row, col] == "-":
            dataDF.loc[row, col] = 0

        else:
            pass
       
print(dataDF)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2007  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4031
1       NaN     수력    64    51    49    60    41    55    52    54  ...    50
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2551
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1429
4       NaN    신재생     0     0     0     0     0     0     0     0  ...     0
5        북한     합계   277   263   247   221   231   230   213   193  ...   236
6       NaN     수력   156   150   142   133   138   142   125   107  ...   133
7       NaN     화력   121   113   105    88    93    88    88    86  ...   103
8       NaN    원자력     0     0     0     0     0     0     0     0  ...     0
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2008  2009  2010  2011  2012  2013  2014  2015  2016
0  4224  4336  4747  4969  5096  5171  5220  5281  5404
1    56    56    65    78    77    84    78    58    66
2  2658  2802  3196  3343  3430  3581  3427  3402  3523
3  1510  1478  1486  1547  1503  1388  1564  1648  1620
4     0     0     0     0    86   118   151   173   195
5   255   235   237   211   215   221   216   190   239
6   141   125   134   132   135   139   130   100   128
7   114   110   103    79    80    82    86    90   111
8     0     0     0     0     0     0     0     0     0
9     0     0     0     0     0     0     0     0     0

[10 rows x 29 columns]

####   3) 2016년 열 옆에 항목별 합계 칼럼 추가 값은 / 함수나 for 구문으로 sum값

In [28]:
# 합계 칼럼 추가

dataDF.loc[:,"합계"] = 0
print(dataDF)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2008  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4224
1       NaN     수력    64    51    49    60    41    55    52    54  ...    56
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2658
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1510
4       NaN    신재생     0     0     0     0     0     0     0     0  ...     0
5        북한     합계   277   263   247   221   231   230   213   193  ...   255
6       NaN     수력   156   150   142   133   138   142   125   107  ...   141
7       NaN     화력   121   113   105    88    93    88    88    86  ...   114
8       NaN    원자력     0     0     0     0     0     0     0     0  ...     0
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2009  2010  2011  2012  2013  2014  2015  2016 합계
0  4336  4747  4969  5096  5171  5220  5281  5404  0
1    56    65    78    77    84    78    58    66  0
2  2802  3196  3343  3430  3581  3427  3402  3523  0
3  1478  1486  1547  1503  1388  1564  1648  1620  0
4     0     0     0    86   118   151   173   195  0
5   235   237   211   215   221   216   190   239  0
6   125   134   132   135   139   130   100   128  0
7   110   103    79    80    82    86    90   111  0
8     0     0     0     0     0     0     0     0  0
9     0     0     0     0     0     0     0     0  0

[10 rows x 30 columns]

In [48]:
# 각 행에 대한 합계 추가

def df_sum(row, dataframe):
    return sum(dataframe.loc[row, dataframe.columns[2:-1]])

for row in dataDF.index:
    dataDF.loc[row, "합계"] = df_sum(row, dataDF)

print(dataDF)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  1994  1995  1996  1997  ...  2008  \
0        남한     합계  1077  1186  1310  1444  1650  1847  2055  2244  ...  4224
1       NaN     수력    64    51    49    60    41    55    52    54  ...    56
2       NaN     화력   484   573   696   803  1022  1122  1264  1420  ...  2658
3       NaN    원자력   529   563   565   581   587   670   739   771  ...  1510
4       NaN    신재생     0     0     0     0     0     0     0     0  ...     0
5        북한     합계   277   263   247   221   231   230   213   193  ...   255
6       NaN     수력   156   150   142   133   138   142   125   107  ...   141
7       NaN     화력   121   113   105    88    93    88    88    86  ...   114
8       NaN    원자력     0     0     0     0     0     0     0     0  ...     0
9       NaN    신재생     0     0     0     0     0     0     0     0  ...     0

   2009  2010  2011  2012  2013  2014  2015  2016     합계
0  4336  4747  4969  5096  5171  5220  5281  5404  88523
1    56    65    78    77    84    78    58    66   1599
2  2802  3196  3343  3430  3581  3427  3402  3523  55136
3  1478  1486  1547  1503  1388  1564  1648  1620  31067
4     0     0     0    86   118   151   173   195    723
5   235   237   211   215   221   216   190   239   5914
6   125   134   132   135   139   130   100   128   3408
7   110   103    79    80    82    86    90   111   2506
8     0     0     0     0     0     0     0     0      0
9     0     0     0     0     0     0     0     0      0

[10 rows x 30 columns]